.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .App-header nav ul {
    list-style: none;
    padding: 0;
  }
  
  .App-header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  .App-header nav ul li a {
    color: white;
    text-decoration: none;
  }

  .AgeLabel {
    color: black;
    margin-left: 20px;
    font-size: 20px
  }

  .AgeInput {
    margin-left: 20px;
  }
  